<section id="viewport">
    <button id="start-button" class="awesome superlarge boinkyellow">Start</button>
</section>
<!-- <script src="http://jsconsole.com/remote.js?9CAC1037-11B5-4F07-9182-B7A86DE25227"></script> -->